
<div id="wrapper">
      <div>
        <i class="fa fa-hand-o-left"></i> <%= link_to("返回职位列表", jobs_path, class: 'btn btn-sm btn-success')  %>
        </div>
        <div >
          <h2><%= @job.title %></h2>
        </div>
        <div>
          <p>
          <%= simple_format(@job.description) %>
          </p>
        </div>

        <div class="container">
        	<div class="row">
        </span><%= link_to("投递简历", new_job_resume_path(@job), :class => "btn btn-block btn-primary btn-success") %>

        	</div>
        </div>

      </div>
